body
{
    width:100%;
    height:100%;
}
#myContent_left
{
    position: absolute;
    top: 10%;
    left:10%;
}
@media(min-width:700px){
#myContent_right
{
    position: absolute;
    top: 10%;
    left:55%;
}
img
{
    position: absolute;
    top: 40%;
    left: 70%;
    width: 25%;
    display: none;   
}
button#more
{
    position: absolute;
    top: 60%;
    left: 55%;
    display: none;   
}
button#say
{
    position: absolute;
    top: 70%;
    left: 55%;
    display: none;   
}
}
@media(max-width:700px)
{
    
    #myContent_right
    {
        position: absolute;
        top: 65%;
        left:10%;
    }
    img
    {
        position: absolute;
        top: 85%;
        left: 50%;
        width: 45%;
        display: none;   
    }
    button#more
    {
        position: absolute;
        top: 100%;
        left: 10%;
        display: none;   
    }
    button#say
    {
        position: absolute;
        top: 100%;
        left: 45%;
        display: none;   
    }
}